@using CustomForms.Data;



@switch (FormInputField.FieldType)
{
    case Statics.FieldTypes.text:
        if (!String.IsNullOrEmpty(FormInputField.Name))
        {
            <label for="@FormInputField.Id">@FormInputField.Name</label>
            <br />
        }
        <InputText id="@FormInputField.Id" @bind-Value="@FormInputField.Data" placeholder="@FormInputField.Placeholder" />
        break;
    case Statics.FieldTypes.number:
        <label for="@FormInputField.Id">@FormInputField.Name</label>
        <br />
        <InputNumber id="@FormInputField.Id" TValue="int" @bind-Value="@FormInputField.IntegerData" />
        break;

    default:
        <InputTextArea id="@FormInputField.Id" @bind-Value="@FormInputField.Data" />
        break;

}




@code {
    [Parameter]
    public FormInputField FormInputField { get; set; }
}